<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335764061654-0fr6v603n29hmob4cqjdt1uukrqg6mo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335764061654-0fr6v603n29hmob4cqjdt1uukrqg6mo1</string>
	<key>API_KEY</key>
	<string>AIzaSyAFhdiYtcqxL8etoLZauIyh4jwBtpFYWo4</string>
	<key>GCM_SENDER_ID</key>
	<string>335764061654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>farm-47ec9</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-47ec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335764061654:ios:4177acf98dae907ac4b877</string>
</dict>
</plist>